@font-face {
    font-family: Caviate;
    src: url('fonts/Caveat,Inter,Lexend_Deca/Caveat/static/Caveat-Bold.ttf');
}

root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
body
{
    background-color: #ffc300;
}
.flex {
    display: flex;
    gap: 50px;

}

.menus {
    /*background-color: #9D0208;*/
    height: 80%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

h2.menu-title {
    font-family: Caviate;
    color: #000814;
    text-align: center;
    font-size: 40px;
}

#menu, #orderList  {
    width: 100%;
    /*   background-color: darkgray;*/
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 3px solid #000814;
    border-radius: 10px;
    padding: 20px;

}
#menu
{
    margin-left: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

#menu-container {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selction-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#orderList {
    width: 500px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

}

.item, .picked-item , .totlal{
    background-color: #ffc300;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* margin-left: auto;
     margin-right: auto;*/
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*width: 80%;*/
    max-width: 500px;
    position: relative;
    font-family: Caviate, serif;
    color: #000814;
    width: 300px;
    height: 300px;
    border: #000814 1px solid;
}

.item  img, .picked-item > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px #000814;
    margin-left: 10%;
}

.item  button, .picked-item > button {
    height: 40px;
    width: 60px;
    font-size: 30px;
    font-family: Caviate, Serif;
    line-height: 2px;
    background-color: #FFBA08;
    border: solid 1px #000814;
    border-radius: 5px;
    color: #000814;
}



.product-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bolder;

}

.price {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.quantity
{
    font-size: 36px;
    margin-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;


}
.totlal
{
    font-size: 25px;
    width: 500px;
}
.button-container
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.hidden
{
    display: none;
}